

# Practical_1: Variables and Assignments

In [1]:
string1 = "AIMS Student"

int1 = 2025

print("I am " +string1+ " for",int1)

I am AIMS Student for 2025

In [2]:
# Exercise 1
x = 10

print(x)

10

In [3]:
# Exercise 2
is_valid = True

type(is_valid)

bool

In [4]:
### Exercise 3:
"""
Create a string variable `name` 
with the value "Python Programming".

# Exercise 3
"""
name = "Python Programming"

print(name)

Python Programming

In [5]:
### Exercise 4:
"""
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
"""
sum_result = 5+3

print(sum_result)

8

In [6]:

### Exercise 5:
"""
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

# Exercise 5
"""
a, b, c = 5, 10, 15

print(a)

print(b)

print(c)

5
10
15

In [7]:

### Exercise 6:
"""
Assign the value of one variable `x` to another variable `y`.

# Exercise 6
"""
x = 3

y = x

print(y)

3

In [8]:

### Exercise 7:

"""
Assign a floating-point number `9.8` to a variable `gravity`.

# Exercise 7
"""
gravity = 9.8

print(gravity)

9.8

In [9]:

### Exercise 8:
"""
Create a variable `country` and assign it the string value of your favorite country.

# Exercise 8
"""
country = "Sénégal"

print(country)

Sénégal

In [10]:
### Exercise 9:
"""
Change the value of variable `age` from `25` to `26` in two separate steps.
# Exercise 9
"""
#first step
age = 25

age = 26

print(age)

#second step
age = 25

x = 26

age = x

print(age)

26
26

In [11]:

### Exercise 10:
"""
Use one variable to store the result of subtracting two numbers `20 - 7`.

# Exercise 10
"""
sum_substract = 20 - 7

print(sum_substract)

13

In [12]:
#$# Exercise 11:
"""
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
"""
my_int = 13

my_float = 13.48

print(my_int)

print(my_float)

13
13.48

In [13]:

### Exercise 12:
"""
Assign a boolean value `False` to a variable `is_completed`.


# Exercise 12
"""
is_completed = False

type(is_completed)

bool

In [14]:
### Exercise 13:
"""
Swap the values of two variables `x` and `y`.
"""

# Exercise 13

x = 12

c = x

y = 10

x = y

y = c

print(x)

print(y)

10
12

In [15]:
### Exercise 14:
"""
Assign a complex number `3 + 4j` to a variable `complex_num`.

# Exercise 14
"""
a = 3

b = 4

c = a + b * 1j

print(c)

(3+4j)

In [16]:
### Exercise 15:
"""
Reassign a variable from an integer to a string.

# Exercise 15
"""
number1 = 12

number2 = str(number1)

type(number2)

str

In [17]:
### Exercise 16:
"""
Create two variables `first_name` and `last_name`, and assign them your first and last names.

# Exercise 16
"""
first_name = "Marie-Paul"

last_name = "BASSE"

print(first_name)

print(last_name)

Marie-Paul
BASSE

In [18]:
### Exercise 17:
"""
Create a variable `temperature` and assign it the value of `35.5`.

# Exercise 17
"""
temperature = 35.5

print(temperature)

35.5

In [19]:
## Exercise 18:

"""Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

"""
# Exercise 18

product = 8*6

print(product)

48

In [20]:
### Exercise 19:
"""

Assign a sentence of your choice to a variable `sentence`.
"""
# Exercise 19

sentence = "I am student at AIMS Senegal"

print(sentence)

I am student at AIMS Senegal

In [1]:
### Exercise 20:
"""
Use an assignment to convert a string `'50'` into an integer variable `int_value`.
# Exercise 20
"""
text = "50"

int_value = int(text)

type(int_value)

int

In [2]:
### Exercise 21:
"""
Assign the result of dividing `144` by `12` to a variable `quotient`.

# Exercise 21
"""
quotient = 144 / 12

print(quotient)

12.0

In [3]:
### Exercise 22:
"""
Assign the remainder of `47 divided by 5` to a variable `remainder`.

# Exercise 22
"""
remainder = 47 % 5

print(remainder)

2

In [4]:
### Exercise 23:
"""
Create a variable `is_student` and assign it the value `True`.

# Exercise 23
"""
is_student = True

type(is_student)

bool

In [5]:
### Exercise 24:
"""
Use a variable to store the result of a modulo operation: `45 % 4`.
"""
# Exercise 24
result = 45 % 4

print(result)

1

In [6]:

### Exercise 25:
"""
Create a variable `pi` and assign it the value `3.14159`.
"""
# Exercise 25
pi = 3.14159

print(pi)

3.14159

In [7]:
### Exercise 26:
"""
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.
"""
# Exercise 26
length = 25

width = 20

area_rectangle = length * width

print(area_rectangle)

500

In [8]:
### Exercise 27:
"""
Assign a negative number to a variable `negative_value`.
"""
# Exercise 27
negative_value = -57

print(negative_value)

-57

In [10]:
### Exercise 28:
"""
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.
"""
# Exercise 28
greeting = " 'Hello, World!' "

print(greeting)

 'Hello, World!'

In [11]:
### Exercise 29:
"""
Create a variable `population` and assign it a large integer value (in billions).
"""
# Exercise 29
population = 255500546

print(population)

255500546

In [12]:
### Exercise 30:
"""
Use a variable to store the result of raising `2` to the power of `8`.
"""
# Exercise 30
result = 2 ** 8

print(result)

256

In [13]:
### Exercise 31:
"""
Assign a list of your favorite fruits to a variable `fruits`.
"""
# Exercise 31
fruits = ['Banana', 'Apple', 'Lemon']

print(fruits)

['Banana', 'Apple', 'Lemon']

In [14]:
### Exercise 32:
"""
Assign a tuple of three numbers to a variable `coordinates`.
"""
# Exercise 32


coordinates = (20, 34, 45)

print(coordinates)

(20, 34, 45)

In [15]:
### Exercise 33:
"""
Assign a dictionary with keys `name` and `age` to a variable `person`.
"""
# Exercise 33
person = {
   'name' : 'Marie',
   'age' : 25

}

print(person)

{'name': 'Marie', 'age': 25}

In [16]:
### Exercise 34:
"""
Use variables to store the sum of two floating-point numbers.
"""
# Exercise 34

float1 = 25.7

float2 = 34.76

sum_float = float1 + float2

print(sum_float)

60.459999999999994

In [17]:
### Exercise 35:
"""
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.
"""
# Exercise 35

is_sunny = 10 > 5

print(is_sunny)

type(is_sunny)

True

bool

In [20]:
### Exercise 36:
"""
Assign a string and an integer to two different variables, then print both on one line.
"""
# Exercise 36
string1 = "AIMS Student"

int1 = 2025

print("I am",string1, "for" ,int1)

I am AIMS Student for 2025

In [21]:
### Exercise 37:
"""
Reassign a variable that originally held a number to a boolean value.
"""
# Exercise 37
int5 = 10

b = bool(int5)

type(b)

bool

In [22]:

### Exercise 38:
"""
Create a variable `is_weekend` and assign it the result of `False`.
"""
# Exercise 38
is_weekend = False

In [23]:
### Exercise 39:
"""
Assign a multi-line string to a variable `description`.
"""
# Exercise 39
description = " Le Big Data désigne de vastes ensembles de données collectées, analysées et exploitées pour extraire des informations précieuses. Ces données proviennent de diverses sources comme les transactions, les réseaux sociaux, ou encore les objets connectés. Le Big Data est défini par les 3 V : Volume (quantité massive de données), Variété (diversité des formats) et Vélocité (vitesse de génération et de traitement des données) . Les entreprises utilisent le Big Data pour améliorer leurs opérations, personnaliser leurs campagnes marketing, ou encore optimiser leurs décisions stratégiques. Par exemple, une entreprise peut analyser les données pour mieux comprendre les attentes de ses clients et développer des produits adaptés. Dans le domaine médical, le Big Data permet d’identifier des facteurs de risque ou de suivre des épidémies . Les données peuvent être structurées (format fixe comme les bases de données), non structurées (images, vidéos, etc.), ou semi-structurées (fichiers XML, JSON). Leur traitement nécessite des outils spécifiques comme Hadoop, Apache Spark, ou des solutions Cloud telles qu’Amazon S3 ou Google Cloud Dataproc. Ces technologies permettent de gérer les défis liés au stockage et au traitement des données massives "


print(description)

 Le Big Data désigne de vastes ensembles de données collectées, analysées et exploitées pour extraire des informations précieuses. Ces données proviennent de diverses sources comme les transactions, les réseaux sociaux, ou encore les objets connectés. Le Big Data est défini par les 3 V : Volume (quantité massive de données), Variété (diversité des formats) et Vélocité (vitesse de génération et de traitement des données) . Les entreprises utilisent le Big Data pour améliorer leurs opérations, personnaliser leurs campagnes marketing, ou encore optimiser leurs décisions stratégiques. Par exemple, une entreprise peut analyser les données pour mieux comprendre les attentes de ses clients et développer des produits adaptés. Dans le domaine médical, le Big Data permet d’identifier des facteurs de risque ou de suivre des épidémies . Les données peuvent être structurées (format fixe comme les bases de données), non structurées (images, vidéos, etc.), ou semi-structurées (fichiers XML, JSON). Leur traitement nécessite des outils spécifiques comme Hadoop, Apache Spark, ou des solutions Cloud telles qu’Amazon S3 ou Google Cloud Dataproc. Ces technologies permettent de gérer les défis liés au stockage et au traitement des données massives

In [24]:
### Exercise 40:
"""
Use variables to store the result of the absolute value of `-25`.
"""
# Exercise 40
result = abs(-25)

print(result)

25

In [25]:

### Exercise 41:
"""
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.
"""
# Exercise 41
floor_div_result = 100 // 6

print(floor_div_result)

16

In [26]:
### Exercise 42:
"""
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.
"""

# Exercise 42
mixed_sum = 12.47 + 14

print(mixed_sum)

type(mixed_sum)

26.47

float

In [27]:
### Exercise 43:
"""
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.
"""

# Exercise 43

a = 10

b = 15

com = a > b

print(com)

type(com)

False

bool

In [28]:
### Exercise 44:
"""
Assign a long sentence to a variable and count its characters using `len()`.
"""

# Exercise 44
phrase = "Marie-Paul"

print(len(phrase))

10

In [29]:
### Exercise 45:
"""
Assign a fractional result `7 / 3` to a variable `division_result`.
"""

# Exercise 45

division_result = 7 / 3

print(division_result)

2.3333333333333335

In [30]:
### Exercise 46:
"""
Create a variable `speed` and assign it the value of 100 kilometers per hour.
"""

# Exercise 46

speed = 100 / 60

print(speed)

1.6666666666666667

In [31]:
### Exercise 47:
"""
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.
"""

# Exercise 47
x = 4

y  = 3 * x + 5

print(y)

17

In [32]:
### Exercise 48:
"""
Use variables to calculate and store the average of three numbers.
"""

# Exercise 48
x = 34

y = 23

z = 44

moyenne = (x+y+z) / 3

print(moyenne)

33.666666666666664